<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Web: {{ hello.name }}</title>
    <style>
      p.user {text-align: right; background-color: #9dee76;}
      p.bot {text-align: left; background-color: #ffae63;}
    </style>
  </head>
  <body>
    <div id="conversation">
      {% for statement in conversation %}
      {% if statement.speaker.name == "user" %}
      <p class="user">{{ statement.text }}</p>
      {% elif statement.speaker.name == "bot" %}
      <p class="bot">{{ statement.text }}</p>
      {% endif %}
      {% endfor %}
    </div>
    <div id="controls">
      <hr>
      <form action="/converse" method="post">
	<input id="statement" type="text" name="statement" autofocus>
	<button id="hello" type="submit" name="action" value="send">Send</button>
	<button id="reset" type="submit" name="action" value="quit">Quit</button>
      </form>
    </div>
  </body>
</html>
